{% extends "base.html" %}

{% block title %}Activation complete{% endblock %}

{% block content %}
<div class="container">
  <div class="well">
    <div class="row-fluid">
      <div class="span12">
        <h1>Congratulations!</h1>
        <p>Your registration is now complete. Go to the site and start having fun!</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
