{% extends "registration/base.html" %}

{% block title %}Logged out{% endblock %}

{% block content %}
<div class="container">
  <div class="well">
    <div class="row-fluid">
      <div class="span12">
        <h1>You've been logged out.</h1>
        <p>Thanks for stopping by; when you come back, don't forget to <a href="/accounts/login/">log in</a> again.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
