{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="" style="margin-top: 20px;">
      <div class="row-fluid register-oyf">
        <div class="span1">
        </div>
        <div class="span5 register-left-side">
          <div class="row-fluid text-center">
            <br><br><br>
          </div>
          <div class="row-fluid register-story-text">
            <span class="white" style="font-size:75px;letter-spacing:-5px">&nbsp;OFFYOURFACE&nbsp;</span>
          </div>
          <div class="row-fluid text-center">
            <br><br>
          </div>
          <div class="row-fluid register-story-text">
            <span class="white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </div>
          <div class="row-fluid text-center">
            <br><br>
          </div>          
          <div class="row-fluid register-story-text">
            <span class="white"><strong>&nbsp;IS A PARTY&nbsp;</strong></span>
          </div>
          <div class="row-fluid register-story-text">
            <span class="white"><strong>&nbsp;COMMUNITY FOR&nbsp;</strong></span>
          </div>
          <div class="row-fluid register-story-text">
            <span class="white"><strong>&nbsp;PEOPLE WHO LIKE&nbsp;</strong></span>
          </div>
          <div class="row-fluid register-story-text">
            <span class="white"><strong>&nbsp;TO LIVE LIFE&nbsp;</strong></span>
          </div>
          <div class="row-fluid register-story-text">
            <span class="white"><strong>&nbsp;TO THE FULLEST.&nbsp;</strong></span>
          </div>
        </div>
        <div class="span5 register-right-side" style="margin:0px;">
          <div class="row-fluid text-center">
            <br><br>
          </div>
          <div class="row-fluid text-center">
            <img src="/static/img/register/plusss.png">
          </div>
          <div class="row-fluid text-center">
            <u>Follow</u> your interests and discover
          </div>
          <div class="row-fluid text-center">
            what's happening around them.
          </div>
          <div class="row-fluid text-center">
            <br><br><br>
          </div>
          <div class="row-fluid text-center">
            <img src="/static/img/register/tri.png">
          </div>
          <div class="row-fluid text-center">
            <u>Add</u> your experiences.
          </div>
          <div class="row-fluid text-center">
            <br><br><br>
          </div>
          <div class="row-fluid text-center">
            <img src="/static/img/register/talk.png">
          </div>
          <div class="row-fluid text-center">
            Connect with our events and
          </div>
          <div class="row-fluid text-center">
            the people at them.
          </div>
          <div class="row-fluid text-center">
            <br><br>
          </div>
          <div class="row-fluid text-center">
            Join us today.
          </div>
          <div class="row-fluid text-center">
            <br>
          </div>
          <div class="row-fluid text-center">
            <div class="span12">
              {% if form.errors %}
                <p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
              {% endif %}
             <form method="post" action="" class="wide">
            {% csrf_token %}
              <p>
                {% if form.username.errors %}
                  <p class="errors">{{ form.username.errors.as_text }}</p>
                {% endif %}
                {{ form.username }}
              </p>
              <p>
                {% if form.email.errors %}
                  <p class="errors">{{ form.email.errors.as_text }}</p>
                {% endif %}
                {{ form.email }}
              </p>
              <p>
                {% if form.password1.errors %}
                  <p class="errors">{{ form.password1.errors.as_text }}</p>
                {% endif %}
                {{ form.password1 }}
              </p>
              <p>
                {% if form.password2.errors %}
                  <p class="errors">{{ form.password2.errors.as_text }}</p>
                {% endif %}
                {{ form.password2 }}
              </p>
              <p class="submit"><input type="submit" value="Join" style="width:220px;"></p>
            </form>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" >
    $(document).ready(function(){
        $("#id_username").attr('placeholder', '{{form.username.label}}');
        $("#id_email").attr('placeholder', '{{form.email.label}}');
        $("#id_password1").attr('placeholder', '{{form.password1.label}}');
        $("#id_password2").attr('placeholder', '{{form.password2.label}}');
    });
  </script>
{% endblock %}
