{% extends "base.html" %}

{% block title %}Registration complete{% endblock %}

{% block content %}
<div class="container">
  <div class="well">
    <div class="row-fluid">
      <div class="span5">
        <h1>Check your email</h1>
        <p>An activation link has been sent to the email address you supplied, along with instructions for activating your account.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
