{% extends "base.html" %}
{% load url from future %}
{% block content %}

<div class="container">
  <div class="well">
    <div class="row-fluid">
      <div class="span12">
        <h3>Log in</h3>
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
        <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>

        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
        </form>
        <p>If you don't have an account, you can <a href="/accounts/register/">signup</a> for one.<p>
      </div>
    </div>
  </div>
</div>

{% endblock %}

