{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="well">
    <div class="row-fluid">
      <div class="span12">
        <h2>Thank you for bit-banging our servers. Please fiddle with your data more often!</h2>
      </div>
    </div>
  </div>
</div>
{% endblock %}

