﻿/*!
 * Flat & Scroll - Multipurpose One Page Theme
 *
 * Copyright 2013 
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 * Created by: Carlos Alvarez
 * URL: http://www.basicoh.com
 * Designed and built based on Twitter Bootstrap.
 * Tags: multipurpose, agency theme, one page, single page, responsive, green, flat */



/*@import url(http://fonts.googleapis.com/css-family=Open+Sans-300,400,700.css);*/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400);

@font-face
{
    font-family: bebas;
    src: url('/static/BEBAS___.TTF');
}


@font-face
{
    font-family: roboto-bold-condensed;
    src: url('/static/font/Roboto-BoldCondensed.ttf');
}
/* Global */

html {
    font-size: 62.5%;
}

body {
	background: #ecf0f1;
    color: #2d2d2d;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px; font-size: 1.5rem;
    font-weight: 300;
    line-height: 22px;
    /* margin-top: 60px; */
}

h1, h2, h3, h4, h5, h6 {
	font-family: bebas, sans-serif;
    font-weight: 300;
    font-style: normal;
    word-spacing: 5px;
}

p {
    margin: 0 10px 10px 0;
}

a {
	color: #2DAE85;
	text-decoration: none;
}

a:hover {
	color: #2EAF86;
	text-decoration: none;
}

input {
    border-radius: 0px !important;
}

input[type="submit"] {
    background-color: #2dae85;
    border-bottom: 1px #427a6c solid;
    color: #fff;
}

input[type="submit"]:hover {
    background-color: #04674d;
}


/* Navigation */

#logo {
    float: left;
    margin-top: 5px;
    margin: 2px;
    height: 29px;
    width: 44px;
    background-image: url("/static/img/logo-contracted.png");
    margin-bottom: 3px;
}

#logo a {
	display: block;
}

.expanded #sidebar #logo {
    width: 172px;
    height: 32px;
    background-image: url("/static/img/logo.png");
    margin-left: 20px;
}
.expand-arrow {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.expanded .expand-arrow {
    margin-left: 180px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

#sidebar {
/*	background-color: #16a085;*/
    background-color: #fff;
    height: 120%;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 50px;
    z-index: 2;
    box-shadow: 0px 5px 10px #cacaca;
}


#nav {
	margin-top: 80px;
}

#nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav ul li {
	/*color: #F1F1F1;*/
	cursor: pointer;
    display: inline-block;
    line-height: 22px;
    filter: alpha(opacity=40);
    font-size: 16px; font-size: 1.6rem;
    font-style: normal;
    font-weight: 100;
    opacity: .4;
    padding: 8px 0 8px 15px;
    text-transform: uppercase;
    width: 70%;
}

#nav ul li.active {
	filter: alpha(opacity=100);
	opacity: 1;
}

#nav ul li.last {
    padding-right: 0px;
}

#nav li span {
	display: inline-block;
	font-size: 14px; font-size: 1.4rem;
	height: 0;
	opacity: 0;
	overflow: hidden;
	padding-left: 10px;
	width: 0;
}

.btn-navbar {
    cursor: pointer;
    filter: alpha(opacity=40);
    float: left;
    margin: 20px 5px 10px;
    opacity: .4;
    padding: 7px 10px;
}

.btn-navbar .icon-bar {
	background-color: #F5F5F5;
    border-radius: 1px 1px 1px 1px;
    box-shadow: none;
    display: block;
    height: 2px;
    width: 18px;
}

.expand-arrow {
    background-image: url("/static/img/expanded-arrow.png");
    box-shadow: none;
    display: block;
    height: 20px;
    width: 15px;
}

/* Expanded Nav Styling */

:not(.profile-expanded) .expanded #container {
    left: 230px;
    transform: translate3d(50px, 0px, 0px) scale3d(1, 1, 1);
}

.expanded #sidebar {
	width: 210px;
}

.expanded #nav li {
	width: 90%;
}
.expanded #nav li span {
	display: inline-block;
	height: auto;
	opacity: 1;
	overflow: visible;
	width: auto;
}

/*
.expanded #nav ul li.active:after {
    content: ">";
    display: block;
    margin-top: -21px;
    position: absolute;
    right: -3px;
    z-index: 2;
}
*/

	

/* General Styling */ 

#wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
}

#container {
	backface-visibility: hidden;
    left: 70px;
    position: relative;
    transform: translate3d(0px, 0px, 0px);
    transition: transform 500ms ease 0s;
    width: 100%;
}

.section {
	background-attachment: scroll;
	background-position: center top;
	margin-left: -50px;
	position: relative;
	padding: 150px 0 170px;
}

.section h2 {
	display: inline-block;
    font-size: 58px; font-size: 5.8rem;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 72px;
}

.section h4 {
    font-size: 23px; font-size: 2.3rem;
    font-weight: 500;
    line-height: 28px;
    margin: 0 0 20px;
    padding-bottom: 5px;
}

.section h5 {
    font-size: 19px; font-size: 1.9rem;
    font-weight: 500;
    line-height: 24px;
    margin: 0 0 20px;
    padding-bottom: 5px;
}

.section .title hr {
	border-color: #151515;
	border-width: 1px 0 0;
	margin-top: 50px;
	width: 100%;
}

.section .title .alt hr {
	border-color: #F1F1F1;
}

.section .desc {
	margin-top: 20px;
}

.section .content {
	margin-top: 75px;
}

.container-fluid {
	margin: 0 auto;
    padding-right: 80px;
    padding-left: 80px;
}

.control-group .controls input, .control-group .controls textarea {
	background: #F1F1F1;
	border-radius: 0px;
	min-height: 36px;
}

.control-group .controls input:focus, .control-group .controls textarea:focus {
	border-color: rgba(144, 144, 144, 0.9);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(144, 144, 144, 0.9);
}

.alert, .alert-error {
	border-radius: 0px;
}

.btn-default {
	background: none #F1F1F1;
    color: #151515;
    margin-top: 75px;
}

.btn-inverse {
	background: none #16a085;
    color: #F1F1F1;
    margin-top: 25px;
}

.btn-default, .btn-inverse {
	border: medium none;
    cursor: pointer;
    display: inline-block;
    font-family: "Montserrat",sans-serif;
    font-size: 14px; font-size: 1.4rem;
    font-weight: 300;
    line-height: 20px;
    padding: 8px 14px;
    text-align: left;
    text-transform: uppercase;
    width: 190px;
}

.btn-inverse span, .btn-default span {
	font-weight: 700;
}

.btn-inverse.alt, .btn-default.alt {
	text-align: right;
}

.btn-inverse i, .btn-default i {
	float: right;
	line-height: 20px;
}

.btn-inverse.alt i, .btn-default.alt i {
	float: left;
}

.read-more {
	cursor: pointer;
	font-weight: 500;
	margin-top: 20px;
	padding-right: 10px;
}

.table th, .table td {
    border-top: 1px solid #151515;
    line-height: 20px;
    padding: 10px 2px;
    text-align: left;
    vertical-align: top;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
	background-color: rgba(60, 60, 60, 0.4);
}
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
	background-color: rgba(75, 75, 75, 0.4);
}


/* Section 1 */ 

#section1 {
	background:#7f8c8d;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

#section1 .intro {
	margin: 130px 0;
}

#section1 .thumb {
	display: none;
}

#section1 .intro h1 {
	color: #F1F1F1;
    font-size: 85px; font-size: 8.5rem;
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 85px;
    margin-left: -5px;
}

#section1 .intro h3 {
	color: #F1F1F1;
    font-size: 26px; font-size: 2.6rem;
    font-weight: 100;
    line-height: 28px;
    margin: 0px;
    width: 80%;

}

/* Section 2 */ 

#section2{
}

#section2 h6 {
	padding:15px;
}
.toolbox-header {
	font-weight: 500;
	margin-top: 5px;
	margin-bottom: -5px;
}

.toolbox-item {
	height: 20px;
}

.skill {
    text-align: center;
}

/* Section 3 */ 

#section3 {
	background-image:url(../img/project-bg.jpg);
	color: #F1F1F1;
}

#section3 h2 {
	margin-left: -5px;
}


#section3 .content img {
	max-width: 96%;
	padding: 2%;
	background-color: #F1F1F1;
}




/* Section 4 */

#section4  h2 {
	margin-left: -4px;
}

#section4 .read-more a, #section4 .read-more a:hover {
	color: #151515;
}

#section4 .content .span4, #section4 .content .span6 {
	padding-right: 20px;
}

#section4 .content {
	min-height: 300px;
}

#section4 .content .span8 {
	display: none;
}

#section4 .content .span8.current {
	display: block;
}

#section4 ul.article-tags {
    border-top: 1px solid #151515;
    margin: 40px 0 0;
}

#section4 ul.article-tags li {
    border-bottom: 1px solid #151515;
    cursor: pointer;
    display: block;
    font-size: 17px; font-size: 1.7rem;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    padding-left: 45px;
    position: relative;
}

#section4 ul.article-tags li:hover, #section4 ul.article-tags li.current {
    background-color: #1abc9c;
    color:#ecf0f1;
}

#section4 ul.article-tags i {
    left: 15px;
    font-size: 16px; font-size: 1.6rem;
    position: absolute;
    top: 10px;
}

#section4 h4 {
	border-bottom: 1px solid #151515;
    height: 35px;
    margin-bottom: 18px;
}


/* Section 5 */

#section5 {
	background:#1abc9c;
	color: #F1F1F1;
	padding-bottom: 0px;
}

#section5 h4.intro {
	border-bottom: 1px solid #F1F1F1;
    height: 35px;
    margin-bottom: 18px;
}

#section5 .content {
	position: relative;
}

#section5 .content .alt {
	margin-top: 20px;
}

#section5 .content .alt h4 {
	line-height: 24px;
	margin: 0;
	padding-right: 20px;
}

#section5 .content .alt h4, #section6 .content .alt span {
	display: inline-block;
}

#section5 .content .alt h5 {
	display: inline;
    line-height: 20px;
    margin: 0;
    padding-right: 10px;
}

#section5 .content .span4 {
	padding-right: 25px;
}

#section5 .btn-default {
    margin-top: 15px;
}

#section5 #footer {
	margin: 200px 0 40px;
}

#section5 #footer p {
	font-size: 14px; font-size: 1.4rem;
}





/* Media Queries */


@media screen and (min-width: 1800px) {
	
	#section1 {
		padding: 300px 0 !important;
	}
}


@media screen and (max-width: 1320px) {
	
	#section1 {
		background-size: 1320px auto;
	}
}

@media screen and (min-width: 1200px) {
	
	
	#section1 {
		padding: 170px 0;
	}
	
	#section1 .intro h1 {
	    font-size: 90px; font-size: 9.0rem;
	    line-height: 100px;
	    letter-spacing: -4px;
	}

	#section1 .intro h3 {
	    font-size: 28px; font-size: 2.8rem;
	    line-height: 34px;
	    width: 90%;
	}
	
	.section h2 {
	    font-size: 67px; font-size: 6.7rem;
	}
			
	.container-fluid {
	    width: 1024px;
	}
}


@media screen and (max-width: 1199px) {

	.section{
		margin-left: -50px;
		padding: 135px 0;
	}
	
	#section1 {
		background-size: 1200px auto;
	}
	
	#section1 .intro {
		margin: 100px 0;
	}		
	
	#section1 .intro h3 {
		font-size: 24px; font-size: 2.4rem;
		line-height: 24px;
	}
	
	.section .content {
	    margin-top: 50px;
	}
	
	.container-fluid {
	    padding-left: 105px;
	    padding-right: 105px;
    }
	

}

@media screen and (max-width: 979px) {
	
	.section h2 {
	    font-size: 48px; font-size: 4.8rem;
	    line-height: 58px;
	}
	
	.section .title hr {
	    margin-top: 40px;
	}
	
	.section .desc .span8 {
    	width: 100%;
	}
	
	#section1 .intro h1 {
		font-size: 70px; font-size: 7.0rem;
		line-height: 70px;
	}	
	
	#section1 .intro h3 {
		font-size: 22px; font-size: 2.2rem;
		line-height: 22px;
	}

	#section5 .content .span4 {
		padding-right: 0px;
	}
	
	.container-fluid {
	    padding-left: 75px;
	    padding-right: 75px;
	}	
		
}

@media screen and (min-width: 768px) and (max-width: 979px) {

	#section1 .intro h3 {
		width: 85%;
	}
	
	#section2 .content .expand {
		width: 48.6188%;
	}
	
	#section4 .content .expand {
		width: 100%;
	}

}


@media (max-width: 767px) {
	
	body {
		padding: 0px;
	}
		
	.section {
		padding: 100px 0;
	}
	
	.section .content {
	    margin-top: 0;
	}
	
	.section .content .pull-right {
    	float:left;
    }
	
	.section h4 {
		margin-top: 30px;
	}
	
	.section .title hr {
		margin-left: 0px;
	}
		
	#section1 {
		background-size: 920px auto;
	}
	
	#section1 .intro {
		margin: 120px 0;
	}
	
	#section1 .intro h3 {
		width: 55%;
	}
	
	#section3 .content img {
    	margin-top: 30px;
    	padding: 1.5%;
    }
        
    #section3 .table th, #section3 .table td {
    	font-size: 13px; font-size: 1.3rem;
	}
	
	#section3 .table {
		margin-top: 30px;
	}
		
    #section5 .span8 {
	    margin-top: 30px;
    }
    
	
}

@media screen and (min-width: 481px) and (max-width: 649px) {

	#section1 .intro h1 {
		font-size: 60px; font-size: 6rem;
		line-height: 60px;
	}
	
	#section1 .intro h3 {
		font-size: 20px; font-size: 2rem;
	}

}

@media screen and (min-width: 481px) {
	
	#section1 {
		background-image:url(../img/intro-bg.jpg);
	}
	
}


@media screen and (max-width: 480px) {
	 
	.section{
		padding: 80px 0;
	}
	
	#section1 {
	    background-size: 1024px auto;
	    padding: 60px 0;
	}
	
	#section1 .intro {
		margin: 50px 0;
	}

	#section1 .intro h1 {
		font-size: 50px; font-size: 5rem;
		line-height: 50px;
	}
	
	#section1 .intro h3 {
		font-size: 22px; font-size: 2.2rem;
		line-height: 24px;
		width: 100%;
	}
	
	#section1 .thumb {
		background: #95a5a6;
	    display: block;
	    margin-left: 3%;
	    max-width: 80%;
	    padding: 3%;
	}
	
	#section3 .table th, #section3 .table td {
    	font-size: 11px; font-size: 1.1rem;
	}
	
	#section4 h4 {
	    height: auto;
	}    
}

.register-oyf {
    
}

.register-left-side {
    font-family: bebas;
    background-image:url('/static/img/register/back_message.png');
    background-color:#cccccc;
    color: #000000;
    font-size: 40px;
    height: 766px;
    width: 470px;
}
.register-right-side {
    font-family: roboto-bold-condensed;
    background-image:url('/static/img/register/green_back.png');
    background-color:#2dae85;
    color: #04674d;
    font-size: 24px;
    height: 766px;
    width: 470px;
}

.white {
    background-color: #ffffff;
    margin: 5px;
}

.register-story-text {
    height: 50px;
    padding-left: 50px;
}

.post-well {
    padding: 0;
    border-radius: 0;
    box-shadow: 0px 5px 10px #cacaca;
}

.post-title {
    position: absolute; 
    bottom: 6px; 
    left: 1px; 
    width: 100%; 
}

.post-title span {
    color: white; 
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding:0 5px;
}

.post-title a {
    color: white;
}

hr {
    margin: 7px;
}

.related-comments .controls {
    margin-left: 0;
}

.centerbutton {
    outline: none !important;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 37px;
    background: #d52e17;
    background-color: #ffffff;
    position: absolute;
    top: 25px;
    left: 25px;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 31px;
    font-size: 40px;
    font-weight: bold;
    z-index: 2;
    border: 2px solid white;
    -webkit-transition: all 0.1s ease-in-out;
}

.centerbutton2 {
    outline: none !important;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 37px;
    background: #d52e17;
    background-color: #ffffff;
    position: absolute;
    top: 25px;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 31px;
    font-size: 40px;
    font-weight: bold;
    z-index: 2;
    border: 2px solid white;
    -webkit-transition: all 0.1s ease-in-out;
    left: 70px;
}

.centerbutton span {
    display: block;
    background: url("/static/img/sprite.png") no-repeat scroll -40px 0px white;
    height: 20px;
    width: 20px;
    margin: 5px 0px 0px 4px;
}

.centerbutton2 span {
    display: block;
    background: url("../img/sprite.png") no-repeat scroll -120px -20px white;
    height: 20px;
    width: 20px;
    margin: 5px 0px 0px 5px;
}

.circles {
    position: absolute;
    top: 29px;
}

.circles2 {
    position: absolute;
    top: 29px;
    left: 48px;
}

.circles li:nth-child(1) {
    position: absolute;
    top: 0px;
    left: 0px;
}

.circles2 li:nth-child(1) {
    position: absolute;
    top: 0px;
    left: 0px;
}

.circles li {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: absolute;
}

.circles2 li {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: absolute;
}

.circles li:nth-child(1) a {
    -webkit-transition-delay: .30s;
}

.circles2 li:nth-child(1) a {
    -webkit-transition-delay: .30s;
}

.circles li a {
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    border-radius: 29px;
    display: block;
    position: absolute;
    color: white;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    border: 4px solid white;
}

.circles2 li a {
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    border-radius: 29px;
    display: block;
    position: absolute;
    color: white;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    border: 4px solid white;
}

.circles li a.out {
  bottom: 30px;
/*  -webkit-transform: rotate(360deg);
  -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.3);*/
}

.circles2 li a.out {
  bottom: 30px;
/*  -webkit-transform: rotate(360deg);
  -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.3);*/
}

.camera,
.chat,
.location,
.moon,
.music,
.facebook,
.twitter,
.follow_user,
.follow_tag,
.edit_post {
  background-image: url(/static/img/sprite.png);
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -11px;
  margin-left: -11px;
}
.camera {
  background-position: -40px 0;
  width: 20px;
  height: 20px;
}
.follow_user {
  background-position: -100px -20px;
  width: 20px;
  height: 20px;
}
.follow_tag {
  background-position: 1px -20px;
  width: 20px;
  height: 20px;
}
.edit_post {
  background-position: -20px 1px;
  width: 20px;
  height: 20px;
}

.circles .facebook {
  margin: -10px 0 0 -10px;
  background-image: url(/static/img/20_facebook.png);
  width: 20px;
  height: 20px;
}
.circles .twitter {
  margin: -10px 0 0 -10px;
  background-image: url(/static/img/20_twitter.png);
  width: 20px;
  height: 20px;
}

.related-comments input[name="preview"] {
    display: none;
}

.related-comments #id_comment {
    width: 350px;
}

.related-content h4, .tags h4, .related-comments h4 {
    font-family: 'Open Sans Condensed', sans-serif;
    display: inline-block;
    line-height: 2px;
    vertical-align: text-top;
    font-weight: bold;
    font-size: 14px;
}

.related-comments .form-actions {
    padding: 0;
    margin-right: 38px;
}

.thumbnail {
    padding: 0;
    border-radius: 0;
}

.comment-date {
    font-size: 1.3rem;
}

#id_name, #id_tags{
    width: 230px;
}

.expanded #profile-bar {
/*  background-color: #16a085;*/
    background-color: #fff;
    height: 120%;
    padding: 0;
    height: 400px;
    width: 200px;
    z-index: 2;
    position: fixed;
    left: 215px;
}

#profile-bar .row {
    margin-left: 0 !important;
}

.profile-expanded .expanded #container {
    left: 430px;
    transform: translate3d(50px, 0px, 0px) scale3d(1, 1, 1);
}

:not(.expanded) .profile-expanded  #container {
    left: 260px;
    transform: translate3d(50px, 0px, 0px) scale3d(1, 1, 1);
}



#profile-bar .progress {
    height: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0;
}

#profile-bar .bar {
   background-color: #2EAF86 !important;
   background-image: none;
   border-radius: 0;
}

#profile-bar p {
    text-align: center;
    font-size: 12px;
    color: #929292;
}

#profile-bar input, #profile-bar textarea {
    width: 160px;
    border-radius: 0;
}

.body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#profile-bar{
  overflow: hidden !important;
}

.menu{
  height:100%;
  background: #FFF;
  box-shadow: 0px 5px 10px #cacaca;
  left: 50px;
}
 
.menu.collapse {
  float:left;
  height: 100% !important;
  width: auto;
}
 
.menu.collapse.height {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: width 0.35s ease;
}
 
.menu.collapse.width {
  position: relative;
  width: 0;
  overflow: hidden;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;
}
 
.menu.collapse.in.width {
  width: auto;
}
 
.menu.collapse.in.height {
  height: auto;
}
 
.menu.collapse-inner {
  position: relative;
  width: 200px;
  height: 100%;
}

.view {
  width: 100%;
  height: 100%;
}

.viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
 
.viewport .frame {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}

ul.tags {
    font-size: 0;
    margin-left: 0px !important;
}

li.tag {
    display: inline-block;
    background-color: #269867;
    color: #ffffff;
    padding: 3px 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px;
    font-size: 14px;
}

li.tag a {
    color: #ffffff;
}

li.tag.subtag {
    background-color: #E4E4E4;
    color: #000000
}