{% load analytics %}
{% load url from future %}
<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block title %}{{page_title}}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="author" content="" >
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet" media="screen">
        <link href="{{ STATIC_URL }}css/font-awesome.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" media="screen">
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}ajax_upload/css/ajax-upload-widget.css"/>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fluent_comments/css/ajaxcomments.css" />

        <!--[if IE 7]>
            <link href="css/font-awesome-ie7.min.css" rel="stylesheet">
        <![endif]-->
    
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/modernizr.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}ajax_upload/js/jquery.iframe-transport.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}ajax_upload/js/ajax-upload-widget.js"></script>    
    </head>

    <body>
    <div class="viewport">
      <div class="frame">
            <div id="sidebar">
                <a href="/">
                    <div id="logo"></div>
                </a>
                <a class="btn-navbar" data-toggle="collapse" data-target=".nav">
                    <span class="expand-arrow"></span>
                </a>
                <nav id="nav" class="navigation" role="navigation">
                    <ul class="unstyled">
                        <a href="{% url 'dashboard' %}"><li class="active"><i class="icon-home"></i> <span>Home</span></li></a>
                        {% if user.is_authenticated %}
                        <a href="{% url 'addpost' %}" data-toggle="modal"><li class="last"><i class="icon-upload"></i> <span>Upload</span></li></a>
                        <a class="btn-profile" data-toggle="collapse" data-target="#profile-bar"><li class="last"><i class="icon-user"></i> <span>Profile</span></li></a>
                        {% endif %}
                        <a href="{% url 'shuffle' %}"><li class=""><i class="icon-random"></i> <span>Shuffle</span></li></a>
                        <a href="{% url 'events' %}"><li class=""><i class="icon-globe"></i> <span>Events</span></li></a>
                        {% if user.is_authenticated %}
                        <a href="/accounts/logout"><li class=""><i class="icon-signout"></i> <span>Logout</span></li></a>
                        {% else %}
                        <a href="/accounts/login" title="Sign in or create a new account"><li class=""><i class="icon-signin"></i> <span>Login</span></li></a>
                        {% endif %}
                    </ul>
                </nav><!-- /nav -->
            </div><!-- /sidebar -->
            <div id="profile-bar" class="menu nav-collapse collapse width">
              <div class="collapse-inner">
                  <div class="row">
                      <br>
                  </div>
                  <div class="row">
                      <div style="width:auto;">
                          <center>
                              <img src="/static/img/profile-image.png" class="img-polaroid">
                          </center>
                      </div>
                  </div>
                  <div class="row">
                      <br>
                      <center>
                          <input type="text" class="input-small" name="full_name" placeholder="Your Full Name" readonly>
                      </center>
                  </div>
                  <div class="row">
                      <center>
                          <textarea rows="1" name="motto" placeholder="Your motto" readonly></textarea>
                      </center>
                  </div>
                  <div class="row">
                      <center>
                          <div class="progress" style="width: 180px;">
                              <div class="bar" style="width: 60%;"></div>
                          </div>
                      </center>
                  </div>
                  <div class="row">
                      <p>You are 10% living the dream</p>
                      <hr>
                      <p>Full address in settings gets you a gift</p>
                      <hr>
                  </div>
              </div>
            </div><!-- /profile-bar -->
      <div class="view">
        <div id="wrapper">                       
            {% block content %}{% endblock %}
            <div id="container">
                <div id="footer">
                    <div class="row-fluid">
                        <div class="span12">
                        </div><!-- /span12 -->
                    </div><!-- /row-fluid -->   
                </div><!-- /footer -->
            </div><!-- /container -->   
        </div><!-- /wrapper -->
      </div><!-- /view -->
     </div>   
   </div>
    
        <!-- JAVASCRIPTS -->
        <script type="text/javascript">
        $(function () {
            $("#circle-menu").find(".centerbutton, .centerbutton2").click(function(e) {
              var circles = ($(this).hasClass("centerbutton")) ? "circles" : "circles2";
              if ($(this).hasClass("centerbuttonon")) {
                var offset = 0, unroll = false;
                $(this).toggleClass("centerbuttonon");
              } else {
                var offset = 4, unroll = true;
                $(this).toggleClass("centerbuttonon");
              }
              e.preventDefault();
              var idx = 0;
              $(this).siblings("."+circles).children().each(function() {
                if (unroll) {
                  idx++;
                }
                $(this).animate({
                  top: offset+idx*31
                }, 300);
              });
            });

            $("#circle-menu").find(".circles2 .follow_user, .circles2 .follow_tag").click(function(e){
              e.preventDefault();

              var data = {};

              if ($(this).hasClass("follow_user")) {
                data.follow = "user";
              } else {
                data.follow = "tags";
              }

              data.resource_type = "post";
              data.resource_id = newEl.attr("data-object-id");

              $.ajax({
                url: "/follow",
                data: data,
                type: "post",
                success: function() {
                  newEl.find(".centerbutton2").click();
                }
              });

            });
        });

        </script>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery.knob.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/main.js"></script>
        {% analytics "UA-32135949-1" %}
        <div id="addpost-modal" class="modal hide fade" role="dialog" style="width:400px;">
        </div>
    </body>
</html>
