{% extends 'base.html' %}
{% block content %}
<div id="container">
  <div class="well">
    <form name="create_project" method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{ form.non_field_errors }}</p>
    <div class="row-fluid">
      <div class="span4">
          {% if form.name.errors %}
            <p class="errors">{{ form.name.errors.as_text }}</p>
          {% endif %}
        {{ form.name }}
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4">
        <p>{{ form.picture.label_tag }} ({{ form.picture.help_text }})</p>
        {% if form.picture.errors %}
            <p class="errors">{{ form.picture.errors.as_text }}</p>
        {% endif %}
        {{ form.picture }}
      </div>
      <script>
        new AjaxUploadWidget($('#id_picture'), {
            // options
        });
      </script>
    </div>
    <div class="row-fluid">
      <div class="span4">
        <p>{{ form.tags.label_tag }} ({{ form.tags.help_text }})</p>
        {% if form.tags.errors %}
            <p class="errors">{{ form.tags.errors.as_text }}</p>
        {% endif %}
        {{ form.tags }}
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4">
        <a href="javascript:void(0);" onClick="javascript:addPost();" class="btn btn-primary btn-small">Add post</a>
      </div>
    </div>
    </form>
  </div>
</div>
  <script>
  function addPost() {
    document.forms[0].submit();
  }
  </script>

  {% endblock %}