  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Add new post</h3>
  </div>
  <div class="modal-body">

          <div class="row-fluid">
            <div class="span7">
            <form name="create_post" method="POST" action="" enctype="multipart/form-data" id="add-post-form">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <div class="row-fluid">
              <div class="span4">
                  {% if form.name.errors %}
                    <p class="errors">{{ form.name.errors.as_text }}</p>
                  {% endif %}
                {{ form.name }}
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4">
                {% if form.picture.errors %}
                    <p class="errors">{{ form.picture.errors.as_text }}</p>
                {% endif %}
                {{ form.picture }}
              </div>
              <script>
                new AjaxUploadWidget($('#id_picture'), {
                    // options
                });
              </script>
            </div>
            <div class="row-fluid">
              <div class="span4">
                {% if form.tags.errors %}
                    <p class="errors">{{ form.tags.errors.as_text }}</p>
                {% endif %}
                {{ form.tags }}
              </div>
            </div>
            </form>
        </div>

    </div>
  <script>
      function addPost() {
        //document.forms[0].submit();
        var jqxhr = $.post("/ui/addpost", $("#add-post-form").serialize());
        jqxhr.done(function(){
                console.log("done add post");
                $("#addpost-modal").modal("hide");
                setTimeout(function(){
                    window.location.href = "/";
                        }, 10);
            });
        jqxhr.fail(function(){
                console.log("fail add post");
            });
      }

      $(document).ready(function(){
        $(".btn-change").hide();
        $(".btn-remove").hide();
        $(".ajax-upload").hide();
        $(".ajax-upload-preview-area").click(function(){
            $(".ajax-upload").click();
        });
      });
  </script>

  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="javascript:void(0);" onClick="javascript:addPost();" class="btn btn-primary btn-small">Add post</a>
  </div>