{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block content %}
  <div id="container">
    <div class="row-fluid">
      <br>
    </div>
    <div id="posts" class="isotope row">
    <!-- Posts will go here ... -->
    </div>

    <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.ba-hashchange.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.isotope.min.js"></script>
    <script src="{{STATIC_URL}}js/mql.js"></script>
    <script src="{{STATIC_URL}}js/oyf.js"></script>
    <script src="{{STATIC_URL}}js/script.js"></script>

    <script id="post" type="text/x-jquery-tmpl">
      <div id="postid-${id}" class="post item span4">
        <div class="well post-well">
          <div id="circle-menu">
            <!-- first expaning path menu -->                        
              <a class="centerbutton" href="javascript:void(0);" title="Share!">
                <span></span>
              </a>
              <ul class="circles">
                <li><a href="" title="Share this on facebook"><span class="facebook"></span></a></li>
                <li><a href="" title="Share this on twitter"><span class="twitter"></span></a></li>
              </ul>
            <!-- second expaning path menu -->
              <a class="centerbutton2" href="javascript:void(0);" title="Add...">
              <span></span>
              </a>
              <ul class="circles2">
                <li><a href="javascript:void(0);" title="Follow this user"><span class="follow_user"></span></a></li>
                <li><a href="javascript:void(0);" title=""><span class="follow_tag"></span></a></li>
              </ul>
          </div> <!-- div menu -->
          <a href="${permalink}" title="${name}">
            <img src="${home_picture}" title="${name}">
            <!--<div class="info">
              <span class="badge">${score}</span>
            </div>-->
            <div class="post-title">
              <h3><span>${title}</span></h3>
            </div>
          </a>
        </div>
      </div>
    </script>
  </div>
{% endblock %}