{% extends "base.html" %}
{% load i18n %}
{% load comments %}
{% load url from future %}
{% load thumbnail %}
{% block content %}
  <script type="text/javascript" src="{{ STATIC_URL }}fluent_comments/js/ajaxcomments.js"></script>
  <div id="container">
    <div class="row-fluid">
      <br>
    </div>
    <div class="row-fluid">
      <div class="span10">
        <div class="well post-well">
          <div class="row-fluid">
            <div class="span8">
              <div id="circle-menu">
                <!-- first expaning path menu -->                        
                  <a class="centerbutton" href="javascript:void(0);" title="Share!">
                    <span></span>
                  </a>
                  <ul class="circles">
                    <li><a href="" title="Share this on facebook"><span class="facebook"></span></a></li>
                    <li><a href="" title="Share this on twitter"><span class="twitter"></span></a></li>
                  </ul>
                <!-- second expaning path menu -->
                  <a class="centerbutton2" href="javascript:void(0);" title="Add...">
                  <span></span>
                  </a>
                  <ul class="circles2">
                    <li><a href="javascript:void(0);" title="Follow this user"><span class="follow_user"></span></a></li>
                    <li><a href="javascript:void(0);" title=""><span class="follow_tag"></span></a></li>
                  </ul>
              </div> <!-- div menu -->
              <img src="/media/{{ post.picture }}">
            </div>
            <div class="span4">
              <div class="row-fluid">
                <h3>{{ post.name }}</h3>
              </div>
              <div class="row-fluid">
                <span class="by-user">By <a href="{% url 'dashboard' %}?filter=user&user={{ post.user }}">{{ post.user }}</a></span>
              </div>
              <hr>
              <div class="row-fluid related-content">
                <div class="title-related-content">
                  <h4>Related content</h4>
                </div>
                <ul class="related-posts thumbnails">
                  {% for relatedpost in related_posts %}
                    <li class="related-post span2">
                      {% thumbnail relatedpost.picture "100x100" crop="center" as im %}
                        <a href="{% url 'viewpost' postId=relatedpost.id %}" class="thumbnail">
                          <img src="/media/{{im}}">
                        </a>
                      {% endthumbnail %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
              <hr>
              <div class="row-fluid tags">
                <div class="title-tags-content">
                  <img class="headerIcon" src="/static/img/comments.gif" alt="comments">
                  <h4>Tags</h4>
                </div>
                <ul class="tags">
                  {% for tag in tags %}
                  <li class="tag">
                    <a href="{% url 'dashboard' %}?filter=tag&tag={{ tag }}">#{{tag}}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <hr>
              <div class="row-fluid related-comments">
                <div class="title-related-content">
                  <img class="headerIcon" src="/static/img/comments.gif" alt="comments">
                  <h4>Comments</h4>
                </div>
                {% render_comment_list for post %}
                {% render_comment_form for post %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $("#id_comment").removeAttr("rows");
    $("#id_comment").removeAttr("cols");
  </script>
{% endblock %}